.client-search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15%;
    background-color: #acb5c9;
    color: black;
  }
  
  .client-info-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 8px;
  }
  
  .search-btn {
    background-color: #2662fa;
    color: white;
    padding: 0.9rem 4rem;
    border-radius: 3px;
    font-size: 1.4rem;
    box-shadow: 0 10px 15px 0 rgba(4, 0, 255, 0.35);
    transition: all 0.3s;
    margin: 1rem;
    flex: 1 1 calc(33% - 2rem);
  }
  
  .search-btn:hover {
    box-shadow: 0 10px 15px 0 rgba(4, 0, 255, 0.35);
    font-size: 1.7rem;
    background-color: #ffffff;
    color: #2662fa;
  }
  
  .client-input-box {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .error-msg, .success-msg {
    color: red;
    font-weight: bold;
  }
  
  .status-confirmed {
    color: green;
    font-weight: bold;
  }
  
  .status-cancelled {
    color: red;
    font-weight: bold;
  }
  
  .cancel-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cancel-btn:hover {
    background-color: darkred;
  }
  
  .reservation-container {
    list-style-type: none;
    padding: 0;
  }
  
  .reservation-entry {
    padding: 10px;
    margin: 10px 0;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  