.reservation-list-container {
  max-width: 900px;
  color: black;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10%;
  border-radius: 10px;
  background-color: #acb5c9;
}

.filter-container {
  display: inline;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.date-range-filters input,
.status-filter,
.filter-button,
.reset-button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
  height: 40px;
}

.filter-button, .reset-button {
  background-color: #2662fa;
  color: white;
  padding: 0.9rem 4rem;
  border-radius: 3px;
  font-size: 1.4rem;
  margin: 1rem;
  flex: 1 1 calc(33% - 2rem);
  box-shadow: 0 10px 15px 0 rgba(4, 0, 255, 0.35);
  transition: all 0.3s;
}

.filter-button:hover, .reset-button:hover {
  box-shadow: 0 10px 15px 0 rgba(4, 0, 255, 0.35);
  font-size: 1.7rem;
  background-color: #ffffff;
  color: #2662fa;
}

.reservation-list {
  list-style: none;
  padding: 0;
}

.reservation-item {
  background-color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.reservation-info {
  margin-bottom: 10px;
}

.status-confirmed {
  color: green;
  font-weight: bold;
}

.status-cancelled {
  color: red;
  font-weight: bold;
}

.cancel-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button:hover {
  background-color: darkred;
}

.date-picker-input {
  padding: 0.5rem;
}

.date-picker-input:hover {
  background-color: #e0e0e0;
}
