.discountbanner {
    background-color: #fc6661;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 11rem;
   
  }
  
  .discountbanner-text {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }

  .discountbanner-text span {
    color: rgb(255, 0, 0);
  }
  
  .discountbanner-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 80;
    padding: 0 10px;
  }
  
  .discountbanner-close:hover {
    color: #ffcccb;
  }
  